/* src/index.css */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* html,
body,
#root {
  height: 100%;
} */
 
@media screen and (max-width: 768px) {
  .bg-black {
    background-color: black;
  }

  .transparent {
    opacity: 0.5;
  }
  .content-container {
    @apply ml-9; 
  }
  .flex-row {
    @apply ml-4; 
  } 
}
